<%- include('../includes/header.ejs')%>
<title><%=title%></title>
  </head>
  <body>
    <%- include('../includes/navbar.ejs')%>
    <main>
        <div class="container py-2">
            <form action="/forgetpassword" method="POST">
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Email address</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email">
                </div>
                <div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
              </form>
        </div>
    </main>
    <%- include('../includes/footer.ejs')%>
    